<main class="container center" id = "main">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Take charge of your personal finances with online budget planner. Our free budget tracker helps you understand your spending and manage your expenses and plans budget wisely to save more money for your brighter financial future. It's very simple, get it today!."/>
  <!-- This is a SEO Change -->
  <meta name="robots" content="index,follow"/> <!-- This is a SEO Change -->
  <meta property="og:type" content="website" /> <!-- This is a SEO Change -->
  <title>Budget Planner & Expense Tracker</title> <!-- This is a SEO Change -->
</head>

<div class="page-area">
    <pb-article>
      <!-- This is a Semantic HTML Change -->
          <h1>Stay on track</h1>
          <div>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
          </div>
      </pb-article>

      <pb-article>
        <h1>Alerts</h1>
        <div>
            People who stick to a financial plan, budgeting every expense, get out of debt faster!
            Also, they to live happier lives... since they expend without guilt or fear...
            because they know it is all good and accounted for.
        </div>
    </pb-article>
<!-- This is a Semantic HTML Change -->
      <pb-article>
          <h1>Results</h1>
          <div>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </div>
      </pb-article>

      <pb-article>
          <h1>Free</h1>
          <div>
              This app is free!!! And you are the only one holding your data!
          </div>
      </pb-article>
      <!-- This is a Semantic HTML Change -->

      <!-- This is a Semantic HTML Change -->
      <div class="container">
        <div class="row">
            <h1>Add your expenses here</h1>
            <button (click)="AddBudget()">Add New Expense</button>
        </div>
      </div>

      <pb-table></pb-table>


      <pb-article>
      <h1>Your Maximum budget Linechart</h1>
      <div>
          <canvas id="maxbudgetpie" width="400" height="400" style="width:350px;height:350px"></canvas>
          <pb-maxbudgetpie></pb-maxbudgetpie>
      </div>
    </pb-article>

      <article>
        <h1>Your Current budget PieChart </h1>
        <p>
            <canvas id="myChart" width="400" height="400"></canvas>
        </p>
    </article>


    <article id="barchart">
        <h1>Dual Bar-Chart</h1>
        <figure id="bar">
          <pb-bar></pb-bar>
        </figure>
    </article>

  </div>
  </main>
  <!-- This is a Semantic HTML Change -->
