
  <div class="login-page">
  <div class="form">
   <div class="container">
  <form id="contact" action="" method="post">
    <h1>Signup</h1>
    <div>
      <input placeholder="Username"  type="text" [(ngModel)]="username" name="username" tabindex="1" required autofocus>
    </div>
    <div>
      <input placeholder="Email" [(ngModel)]="email" type="email" name="email" tabindex="2" required >
    </div>
    <div>
      <input placeholder="Password" [(ngModel)]="password" type="text" name="password" required>
    </div>
    <div>
      <input placeholder="Retype password" [(ngModel)]="retypePassword" type="text" name="retypePassword" required>
    </div>

    <div>
      <button id="loginbutton" (click)="registrationProcess()">Signup</button>
  </div>
  </form>
</div>
</div>
</div>

